html{
  font-size : medium;
  font-family : "Helvetica neue", Arial, sans-serif;
}
#userProfile{
  width:70%;
  background-color:white;
  margin:auto;
  padding:2%
}
#messages{
  width : 80%;
  margin:auto;
  background-color : #dfebe8;
}

.message{
  background-color: white;
  padding:2%;
  margin : 2%;
}

#userProfile{
  font-size:larger;
}

.author,.profile_userId{
  color : #54615f;
}

.pseudo,.profile_pseudo{
  font-weight: 600;
  color : #232928;
}

.profile_picture{
  border-radius: 50%;
}

#profile_isFollower{
  font-size: medium;
}
#profile_editor_container{
  position:relative;
  top:50px;
  left:0;
  background-color:red;
  width:70%;
  height:auto;
  margin:auto;
}

#profile_editor_container{
  padding:25px;
}
#profile_editor input{
  margin-top:10px;
}
#profile_editor button {
  margin-top: 10px;
}
#follows_list, #followers_list{
  height:50%;
  width:30%;
  overflow-y: auto;
}

button{
 padding: 0.75rem 1rem;
	border: none;
	border-radius: 0.317rem;
  background-color :#dfebe8 ;
  cursor: pointer;
  margin : 5px;
}

.subscribe_error{
  font-size : medium;
}
.blocked_status{
  font-size : medium;
}

.profile_picture, .menu_profile_userId, .delete_message, .close, .pseudo, .author{
  cursor : pointer;
}

.delete_message:hover, .close:hover, button:hover{
  opacity : 0.75;
}

textarea{
width : 500px;
height :170px;
outline: none;
box-shadow: none;
border: 1px solid #ced4da;
border-radius: 0.3em;
resize: none;    
}

.close{
  font-size: xx-large;
  color :#5e6266 ;
}
